$codeBgColor = #fafafa // 代码背景颜色

$accentColor = #3eaf7c
$textColor = #2c3e50

$borderColor = #eaecef
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

.content pre{  margin: 0!important;}

.theme-default-content:not(.custom){
    max-width: 1000px !important;
}

.demo-block .highlight code.hljs {
    color: #3182bd !important;
}

.hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-title, .hljs-name {
    color: #3182bd !important;
}

.hljs-string {
    color: #756bb1 !important;
}

.hljs-attr {
    color: #3182bd !important;
}

.language-css .selector {
    color: #3182bd !important;
}

.language-css .property {
    color: #e6550d !important;
}

p {
    margin: 5px 0;
}